@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-notebook {
  background-color: #fff;
  background-image: 
    linear-gradient(90deg, transparent 49px, #ffb3b3 49px, #ffb3b3 51px, transparent 51px),
    linear-gradient(#e5e7eb 1px, transparent 1px);
  background-size: 100% 1.8rem;
}

.borde-quemado {
  background-color: #f4e4bc;
  background-image: url('https://www.transparenttextures.com/patterns/stardust.png');
  /* Borde mordido por fuego */
  clip-path: polygon(
    0% 5%, 10% 0%, 25% 4%, 40% 1%, 55% 6%, 70% 2%, 85% 5%, 100% 0%, 
    97% 25%, 100% 50%, 98% 75%, 100% 100%, 
    80% 97%, 60% 100%, 40% 98%, 20% 100%, 0% 97%, 
    2% 70%, 0% 45%, 3% 20%
  );
  box-shadow: inset 0 0 60px #5d4037, 0 10px 30px rgba(0,0,0,0.5);
}

.bg-crumped {
  background: #fdfdfd url('https://www.transparenttextures.com/patterns/paper-fibers.png');
  filter: contrast(1.1);
}
