@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-notebook {
  background-color: #fff;
  background-image: 
    linear-gradient(90deg, transparent 49px, #ffb3b3 49px, #ffb3b3 51px, transparent 51px),
    linear-gradient(#e5e7eb 1px, transparent 1px);
  background-size: 100% 1.8rem;
}

.borde-quemado {
  background-color: #f4e4bc;
  background-image: url('https://www.transparenttextures.com/patterns/stardust.png');
  clip-path: polygon(
    0% 5%, 15% 0%, 35% 5%, 50% 1%, 65% 6%, 85% 2%, 100% 5%, 
    97% 30%, 100% 60%, 98% 85%, 100% 100%, 
    75% 97%, 50% 100%, 25% 98%, 0% 100%, 
    3% 70%, 0% 40%, 2% 15%
  );
  box-shadow: inset 0 0 80px #5d4037, 0 20px 50px rgba(0,0,0,0.5);
}

.bg-crumped {
  background: #fdfdfd url('https://www.transparenttextures.com/patterns/paper-fibers.png');
  box-shadow: inset 0 0 100px rgba(0,0,0,0.05);
}
