@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-notebook {
  background-color: #fff;
  background-image: 
    linear-gradient(90deg, transparent 49px, #ffb3b3 49px, #ffb3b3 51px, transparent 51px),
    linear-gradient(#e5e7eb 1px, transparent 1px);
  background-size: 100% 2.2rem;
}

.borde-quemado {
  clip-path: polygon(
    0% 2%, 15% 0%, 35% 4%, 55% 1%, 75% 6%, 95% 0%, 100% 5%, 
    98% 30%, 100% 60%, 97% 85%, 100% 100%, 
    80% 98%, 50% 100%, 20% 97%, 0% 100%, 
    2% 75%, 0% 45%, 4% 15%
  );
  box-shadow: inset 0 0 100px #5d4037, 0 30px 60px rgba(0,0,0,0.6);
}

@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}

.animate-typewriter {
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  animation: typewriter 3s steps(40, end), blink-caret .75s step-end infinite;
}
